.wallpaper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  user-select: none;
}

.desktop {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.window {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 400px;
  height: 300px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shortcuts {
  display: grid;
  grid-auto-flow: column; /* Fill vertically first, then move to next column */
  grid-template-rows: repeat(7, auto); /* 7 items per column */
  box-sizing: border-box;
  align-content: start; /* Align to top */
  justify-content: start; /* Align to left */
}