.shortcut {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    margin: 20px;
    cursor: pointer;
}

.shortcut-icon {
    width: 64px;
    height: 64px;
    margin-bottom: 10px;
}

.shortcut-label {
    font-size: 1rem;
    text-align: center;
    word-wrap: break-word;
    font-family: Arial, sans-serif;
    color: white;
}

.shortcut-label:hover {
    text-decoration: underline;
}
.shortcut-icon:hover {
    transform: scale(1.1);
    transition: transform;
}

.shortcut-icon:hover + .shortcut-label {
    text-decoration: underline;
}
