.taskbar {
    position: fixed;

    bottom: 3.5vh;
    width: 100%;
    height: 50px;
    background-color: #e6dbdb;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 8px;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

.taskbar-item {
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin: 10px;
    cursor: pointer;
    border: 1px solid #e6dbdb;
    padding: 5px 5px;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskbar-item:hover {
    background-color: #555;
    color: white;
    border-color: #555;
    transition: all 0.2s;
}

.taskbar-item.active::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: #555;
    border-radius: 50%;
    margin: 5px auto 0;
}