.windowContainer {
    position: fixed;
    width: 90vw;
    height: 70vh;
    max-width: 500px;
    max-height: 450px;
    border: 1px solid #1f1f1f;
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    border-radius: 8px;
    overflow: hidden;
}

@media (min-width: 768px) {
    .windowContainer {
        width: 650px;
        height: 550px;
        max-width: 650px;
        max-height: 550px;
    }
}

@media (min-width: 1200px) {
    .windowContainer {
        width: 800px;
        height: 650px;
        max-width: 800px;
        max-height: 650px;
    }
}

.windowHeader {
    background-color: #2c2c2c;
    color: #fff;
    padding: 0;
    cursor: grab;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
}

@media (min-width: 768px) {
    .windowHeader {
        height: 42px;
    }
}

@media (min-width: 1200px) {
    .windowHeader {
        height: 60px;
    }
}

.windowTitle {
    font-size: 13px;
    padding-left: 10px;
    font-weight: 400;
}

@media (min-width: 768px) {
    .windowTitle {
        font-size: 14px;
        padding-left: 12px;
    }
}

@media (min-width: 1200px) {
    .windowTitle {
        font-size: 18px;
        padding-left: 14px;
    }
}

.windowControls {
    display: flex;
    height: 100%;
}

.windowControls button {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 40px;
    height: 100%;
    cursor: pointer;
    font-size: 11px;
    transition: background-color 0.15s;
}

@media (min-width: 768px) {
    .windowControls button {
        width: 46px;
        font-size: 12px;
    }
}

@media (min-width: 1200px) {
    .windowControls button {
        width: 60px;
        font-size: 14px;
    }
}

.windowControls .minimize:hover {
    background-color: #404040;
}

.windowControls .maximize:hover {
    background-color: #404040;
}

.windowControls .close:hover {
    background-color: #e81123;
}

.windowClose {
    background-color: #ff5c5c;
    border: none;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.windowClose:hover {
    background-color: #ff1e1e;
}

.windowContent {
    padding: 8px;
    height: calc(100% - 42px);
    overflow: auto;
}

.windowContent-media {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.window-media {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

@media (min-width: 768px) {
    .windowContent {
        padding: 10px;
        height: calc(100% - 42px);
    }
}

@media (min-width: 1200px) {
    .windowContent {
        height: calc(100% - 64px);
    }
}